@model IEnumerable<Microsoft.AspNetCore.Mvc.ModelBinding.ModelError>
@foreach (var error in Model)
{
    <div class="alert alert-danger" role="alert">
        @error.ErrorMessage
    </div>
    <hr />
}

<a asp-area="Owner" asp-controller="Pet" asp-action="AddPet" class="btn btn-primary">Back</a>

