@model IEnumerable<VeterinaryClinic.Web.ViewModels.Services.ServiceViewModel>

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="hero-wrap hero-wrap-2" style="background-image: url('https://res.cloudinary.com/dpwroiluv/image/upload/v1604684305/bg_2_gfdtjt.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs mb-2"><span class="mr-2"><a asp-controller="Home" asp-action="Index">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Services <i class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-0 bread"><b>Services</b></h1>
            </div>
        </div>
    </div>
</section>
<br />
<br />



<section>
    <div class="container">
        <div class="row">
            @foreach (var service in Model)
            {
                <div class="col-md-3 ftco-animate">
                    <div class="work mb-4 img d-flex align-items-end" style="background-image: url(@service.ImageUrl);">
                    </div>
                    <h3 style="text-align:center"><a asp-controller="Services" asp-action="Details" asp-route-id="@service.Id">@service.Name</a></h3>
                </div>
            }

        </div>
    </div>
</section>

<br />
<br />


