@model VeterinaryClinic.Web.ViewModels.News.NewsDetailsViewModel

    <section class="hero-wrap hero-wrap-2" style="background-image: url('https://res.cloudinary.com/dpwroiluv/image/upload/v1604684305/bg_2_gfdtjt.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs mb-2"><span class="mr-2"><a asp-controller="Home" asp-action="Index">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a asp-controller="News" asp-action="All">News <i class="ion-ios-arrow-forward"></i></a></span></p>
                    <h1 class="mb-0 bread">@Model.Title</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-degree-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ftco-animate">
                    <h5><time datetime="@Model.CreatedOn.ToString("O")"></time></h5>
                    <p>
                        <img src=@Model.ImageUrl alt="" class="img-fluid">
                    </p>
                    <p>@Html.Raw(Model.SanitizedContent)</p>

                </div>
                <cache expires-after="TimeSpan.FromMinutes(2)">
                    <vc:news></vc:news>
                </cache> 
            </div>
        </div>
    </section>
