@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pet Sitting - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>

    <section class="hero-wrap hero-wrap-2" style="background-image: url('https://res.cloudinary.com/dpwroiluv/image/upload/v1604684305/bg_1_gkn9jj.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 ftco-animate pb-5">
                    <h1 class="mb-0 bread"><b>FAQ</b></h1>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section bg-light ftco-faqs">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-md-last">
                    <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="        background-image: url(https://res.cloudinary.com/dpwroiluv/image/upload/v1604684305/about_ffqw5m.jpg);">
                        <a href="https://www.youtube.com/watch?v=jFMA5ggFsXU" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
                            <span class="fa fa-play"></span>
                        </a>
                    </div>
                    <div class="d-flex mt-3">
                        <div class="img img-2 mr-md-2" style="background-image: url(https://res.cloudinary.com/dpwroiluv/image/upload/v1604684305/about-2_ozjjwj.jpg);"></div>
                        <div class="img img-2 ml-md-2" style="background-image: url(https://res.cloudinary.com/dpwroiluv/image/upload/v1604684305/about-3_umksdj.jpg);"></div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="heading-section mb-5 mt-5 mt-lg-0">
                        <h2 class="mb-3">Frequently Asks Questions</h2>
                        <p>Here are some of the most commonly asked questions.</p>
                    </div>
                    <div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header p-0" id="headingOne">
                                <h2 class="mb-0">
                                    <button href="#collapseOne" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                                        <p class="mb-0">How to train your pet dog?</p>
                                        <i class="fa" aria-hidden="true"></i>
                                    </button>
                                </h2>
                            </div>
                            <div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body py-3 px-0">
                                    <p>Training your dog requires a great deal of patience and dedication. In the right we present to you a video about the first steps of training your puppy. If you need any help you can always contact us.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header p-0" id="headingTwo" role="tab">
                                <h2 class="mb-0">
                                    <button href="#collapseTwo" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                                        <p class="mb-0">How can I cancel my appointment?</p>
                                        <i class="fa" aria-hidden="true"></i>
                                    </button>
                                </h2>
                            </div>
                            <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-body py-3 px-0">
                                    <p>In order to cancel your appointment just go to your Profile->My Appointments and select the desired appointment which you want to cancel.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header p-0" id="headingThree" role="tab">
                                <h2 class="mb-0">
                                    <button href="#collapseThree" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">
                                        <p class="mb-0">Can I bring my animal in during the night?</p>
                                        <i class="fa" aria-hidden="true"></i>
                                    </button>
                                </h2>
                            </div>
                            <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-body py-3 px-0">
                                    <p>
                                        The M&K’s emergency service will receive emergency cases during the night. We ask you, when possible, to contact us by phone before your arrival to allow the emergency team to be prepared to receive your animal in the best possible manner. If you arrive out of hours and that the front doors are locked, please direct yourself to the security guard’s booth located at 1425, Avenue des Vétérinaires. A security guard will guide you towards the emergency service.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header p-0" id="headingFour" role="tab">
                                <h2 class="mb-0">
                                    <button href="#collapseFour" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour">
                                        <p class="mb-0">Can I visit my pet when it is hospitalised? What is the process?</p>
                                        <i class="fa" aria-hidden="true"></i>
                                    </button>
                                </h2>
                            </div>
                            <div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-body py-3 px-0">
                                    <p>
                                        Please note that during visits, it is strictly forbidden to wander in any hallways or rooms other than those necessary to get you to where your pet is hospitalized.

                                        Visiting hours for animals in the ICU or continuous care are:
                                        <ul>

                                            <li>Monday to Friday from noon to 3 pm and from 7 pm to 9 pm;</li>
                                            <li>Saturday and Sunday from 2 pm to 4 pm.</li>
                                        </ul>

                                        All visits must be preapproved by your animal’s veterinarian. Two visitors are allowed at a time but the legal owner must be present. Visits are for a maximum of 30 minutes. If your animal is not stable, it is possible that the attending veterinarian shorten the allowed visiting time to enable proper care. Any person under the age of 18 must be accompanied by an adult.

                                        Animals in isolation are not allowed visitors for biosecurity reasons and in respect to rules established by the CHUV.

                                        For confidentiality and biosecurity reasons, owners are asked to restrict their visit to their animal only.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header p-0" id="headingThree" role="tab">
                                <h2 class="mb-0">
                                    <button href="#collapseThree" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">
                                        <p class="mb-0">What animals do you serve?</p>
                                        <i class="fa" aria-hidden="true"></i>
                                    </button>
                                </h2>
                            </div>
                            <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-body py-3 px-0">
                                    <p>
                                        In M&K veterinary clinic you can bring a wide range of animals- dogs,cats,rabbits,hamsters.turtles and parrots.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




</body>
</html>