@using VeterinaryClinic.Common
@using VeterinaryClinic.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
    <div class="dropdown show">
        <li class="nav-item">
            <a class="nav-link text-dark" title="Manage">Hello @(this.User.Identity.Name)!</a>
        </li>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Manage Your Account</a>
            <a class="dropdown-item" asp-area="Owners" asp-controller="Owners" asp-action="MyPets">My Pets</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
            if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
            </li>
            }
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                    <button type="submit" class="nav-link btn btn-link text-dark" style="text-align:center">Logout</button>

                </form>
            </li>
            }
            else
            {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
            }
    </ul>
