@using VeterinaryClinic.Common
@using VeterinaryClinic.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
    <div class="dropdown show">
        <li class="nav-item">
            <a class="nav-link text-dark" title="Manage" style="padding-top: 2.2rem; padding-bottom: 2.2rem; padding-left: 18px; padding-right: 18px; font-weight: 700; color: #000000; position: relative; text-transform: uppercase; opacity: 1 !important;">@(this.User.Identity.Name)</a>
        </li>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Manage Your Account</a>
            @if (this.User.IsInRole(GlobalConstants.OwnerRoleName))
            {
                <a class="dropdown-item" asp-area="Owner" asp-controller="Owner" asp-action="MyPets">My Pets</a>
                <a class="dropdown-item" asp-area="Owner" asp-controller="Pet" asp-action="AddPet">Add Pet</a>
                <a class="dropdown-item" asp-area="Owner" asp-controller="Owner" asp-action="WriteReview">Write A Review</a>
            }
            @if (this.User.IsInRole(GlobalConstants.VetRoleName))
            {
                <a class="dropdown-item" asp-area="Vet" asp-controller="Appointments" asp-action="Pending">Pending Appointments</a>
                <a class="dropdown-item" asp-area="Vet" asp-controller="Appointments" asp-action="Upcoming">Upcoming Appointments</a>
                <a class="dropdown-item" asp-area="Vet" asp-controller="Appointments" asp-action="Current">Current Appointment</a>

            }
        </div>
    </div>
            if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
            </li>
            }
            <li class="nav-item" style="padding-top: 0.7rem; padding-bottom: 0.5rem; padding-left: 0px; padding-right: 18px; font-weight: 700; color: #000000; position: relative; text-transform: uppercase; opacity: 1 !important;">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                    <button type="submit" class="nav-link btn btn-link text-dark" style="text-align: center;padding-top: 1.7rem;padding-bottom: 1.0rem;padding-left: 18px;padding-right: 18px;font-weight: 700;color: #000000;position: relative;text-transform: uppercase;opacity: 1 !important;font-family: Montserrat, Arial, sans-serif; font-size: 15px;">
                        Logout
                    </button>
                </form>
            </li>
            }
            else
            {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
            }
    </ul>
