<div class="row">
    <div class="col-6">
        <img src="https://res.cloudinary.com/dpwroiluv/image/upload/v1605693870/dog404_zaelyj.jpg" style="width:600px;height:600px" />

    </div>
    <div class="col-6">
        <br />
        <br />
        <br />

        <h1>Oops! Our dog has eaten this page!</h1>
        <br />
 
        <h5><a class="nav-link" asp-controller="Home" asp-action="Index">Return To Home</a></h5>
    </div>
</div>
